.container {
  width: 300px;
  margin: auto;
}

.todo-container {
  width: 300px;
  margin: auto;
}

.todo-container h2 {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  padding: 16px 0;
}

.todo-container ul {
  padding: 0;
  list-style: none;
}

.todo-container li {
  line-height: 1.5;
}

.todo-container input[type="checkbox"] {
  margin-right: 5px;
}

.cmd {
  font-size: 12px;
  cursor: pointer;
  color: #08c;
  margin-left: 5px;
}

.todo-container input[type="text"] {
  padding: 2px;
  margin-right: 5px;
}

h2 > span {
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

h2 > button {
  float: right;
}

.done {
  text-decoration: line-through;
  color: #ccc;
}